


.main {
  padding-left: 8rem;
  padding-right: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.header {
  background-color: #2E2938;
  padding: 10px;
  color: white;
}

aside{
  padding: 10px;
  width: 50%;
}
aside h1{
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 10px;
  background: none;
}

aside p {
  margin-bottom: 10px;
}

aside h1 span{
  
  background: none;
}

section img, a {
  background: none;
}
