@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{   
    font-family: "Nunito", serif;
}

.chakra-ui-light {
    background-color: #2E2938;
    height: auto;
}

a{
    text-decoration: none;
}



.bg-purple{
    background-color: #b4acf9;
    color: #FFF;
}

.active {
    color: #b4acf9;
}

p
{
    color: white;   
}